.App {
  max-width: 40rem;
  margin: 4rem auto;
  padding: 0 2rem;
}
body {
  margin: 0;
  padding: 0;
  color: black;
  height: 100vh !important;
  background: linear-gradient(to right, #ad5389, #3c1053);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
